*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.box-1 .nav{
  height: 40px;
  width: 100%;
  background-color: #fff;
  position: fixed;
}
.nav a{
  color: black;
}
.nav #icon-1{
  margin-top: 10px;
  margin-left: 5px;
  font-size: 20px;
  color: black;
}

.nav h4{
  margin-left: 50px;
  margin-top: -25px;
  
}
.nav #icon-2{
  margin-left: 370px;
  margin-top: -20px;
  position: absolute;
}
/* nav end */
.cover-1{
  height: 190px;
  width: 100%;
  background-color: #D2D2D2;
}
.cover-1 #cover-pic{
  height: 140px;
  width: 140px;
  margin-top: 70px;
  position: absolute;
  border-radius: 80px;
  margin-left: 10px;
  border: 4px solid #fff;
  margin-top: 100px;
}
.cover-1 h2{
  margin-top: 235px;
  margin-left: 10px;
}
.cover-1 p{
  margin-left: 10px;
}
/* add friend section;*/

.main #myBtn{
  height: 35px;
  width: 140px;
  margin-top: 135px;
  margin-left: 10px;
  background-color: #057EFF;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  color: white;
  font-size: 15px;
}
.main #myBtn2{
  height: 35px;
  width: 140px;
  border: none;
  font-weight: bold;
  font-size: 15px;
  border-radius: 4px;
  margin-left: 8px;
}
.main #myBtn3{
  height: 35px;
  width: 40px;
  border: none;
  margin-top: 135px;
  position: absolute;
  margin-left: 10px;
  border-radius: 4px;
}
.bio i{
  color: #848593;
  margin-left: 10px;
}
.bio p{
  line-height: 40px;
  margin-left: 50px;
  margin-top: -30px;
}
.dot p{
  color: gray;
  font-size: 15px;
}
.dot #dot{
  background-color: grey;
  color: white;
  border-radius: 50%;
  font-size: 13px;
  margin-left: 10px;
  padding: 2px;
  margin-top: 20px;
}
.dot p{
  margin-top: -25px;
  margin-left: 40px;
  position: relative;
}
.btm span{
  position: relative;
}
.btm h4{
  margin-left: 10px;
  position: relative;
}
.btm a{
  text-decoration: none;
  margin-top: -15px;
  margin-left: 340px;
  color: #2070BA;
  position: absolute;
}
